# Python
__pycache__/
*.pyc
*.pyd
*.pyo
.Python
env/
venv/
*.egg-info/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Operating System Files
.DS_Store
Thumbs.db
.vscode/

PyTorch_Files/wandb/*
wandb/
.env